/*reset*/
* {margin: 0; padding: 0; font-size: 24px;}
a {color: #333; text-decoration: none;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear:both;}

/*layout*/
#wrap {width: 1200px; margin: 0px auto;}
#side {float: left; width: 300px; height: 650px; background: #66CDAA;}
#content {float: left; width: 900px; height: 650px; background: #55CDAA;}


/*header*/
#side .logo {width: 300px; height: 150px; background: #44CDAA; text-align: center;}
#side .nav {width: 300px; height: 500px; text-align: center;}
#side .nav li {text-align: center; background: #00FA9A; position: relative;}
#side .nav li a {display: block; padding: 10px;}
#side .nav li a:hover {background: rgba(0,0,0,0.3);}
#side .nav li ul.submenu {display: none; position: absolute; right: -200px; top: 0; background: #11FA9A; width: 200px;}

/*banner*/
#banner {width: 900px; text-align: center; height: 350px; line-height: 350px; background:#77CDAA;}

/*contents*/
#contents   {width: 900px;}
#contents > div {float: left; width: 33.33333%; height: 200px; text-align: center; line-height: 200px;}
#contents > div.cont1 {background: #66CDBB;}
#contents > div.cont2 {background: #66CDCC;}
#contents > div.cont3 {background: #66CDDD;}

/*footer*/
#footer {width: 900px; text-align: center;}
#footer .foot1 {float: left; width: 200px; height: 100px; line-height: 100px; background:#55CDFF;}
#footer .foot2 {float: left; width: 700px; height: 50px; line-height: 50px; background:#44CDFF;}
#footer .foot3 {float: left; width: 700px; height: 50px; line-height: 50px; background:#33CDFF;}


